:root {
  --primary-color: #3498db; /* Soft Blue */
  --secondary-color: #f1c40f; /* Vibrant Yellow */
  --background-color: #ecf0f1; /* Light Grayish-Blue */
  --text-color: #2c3e50; /* Dark Blue-Gray */
  --secondary-text-color: #95a5a6; /* Light Gray-Blue */
  --accent-color: #e74c3c; /* Bright Red */
}

.dashboardLayout {
  display: flex; /* Aligns Sidebar and Main Content side by side */
  height: 100vh; /* Sets the full viewport height */
  background-color: var(--background-color);
  color: var(--text-color);
}

.mainContent {
  flex-grow: 1; /* Takes up the remaining space */
  display: flex;
  flex-direction: column; /* Aligns Navbar and Content Area vertically */
}

/* Use a more specific selector if needed */
.dashboardLayout .navbar {
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Keep the rest of your styles as is */
.button.is-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.button.is-link {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
  