.sidebar {
  width: 200px; /* Adjust width as necessary */
  height: 100vh;
  overflow-y: auto;
  background-color: var(--primary-color); /* Soft Blue for consistency with the theme */
  color: var(--text-color); /* Dark Blue-Gray for readability */
  padding: 1rem;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.sidebar ul li + li {
  margin-top: 10px;
}

.sidebar-title {
  margin-bottom: 40px; /* Adjust this value to increase or decrease the space */
  font-size: 2.5rem;
  /* other styles */
}

.vault-logo {
  width: 30px; /* or any size that fits well with your design */
  height: 30px; /* maintain the aspect ratio */
  margin-right: 10px;
}

.sidebar h2 {
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 1rem; /* Spacing after the header */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Removes default margin */
}

.sidebar li {
  display: flex;
  align-items: center; /* This will vertically center the logo with the text */
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.sidebar li:hover {
  background-color: var(--accent-color); /* Or any color that matches your design */
  color: white;
}